.b-card
  border-radius: 20px !important
  &.theme--light
    box-shadow: 0.25rem 0.25rem 1.25rem rgba(146,125,160,0.2) !important
  &.theme--dark
    box-shadow: 0.25rem 0.25rem 1.25rem rgba(0,0,0,0.2) !important
  &.b-card--tile
    border-radius: 0 !important
  &.v-card--link:before
    border-radius: 20px
  h1, h2, h3, h4, h5, h6
    color: var(--v-darker-base)
    display: block
    line-height: 32px
    font-size: 24px
    font-weight: 300
    margin-bottom: 4px
  .vcardtitle
    color: var(--v-darker-base)
    margin-bottom: 3px
  p
    margin: 0
    color: var(--v-text-base)
  .v-card__actions button
    font-weight: normal !important
    color: var(--v-darker-base) !important
  &:not(.v-image) .v-responsive__content
    padding-left: 16px
    display: flex
    align-items: flex-end

.b-card.gradient h1
.b-card.gradient p
  color: white !important

.b-card.gradient
  h1, p, .v-card__actions button
    color: white !important
