.b-card
  background-color: white !important
  border-radius: 20px !important
  box-shadow: 0.25rem 0.25rem 1.25rem rgba(146,125,250,.1) !important
  &.v-card--link:before
    border-radius: 20px
  h1
    color: #e33733
    display: block
    line-height: 32px
    margin-bottom: 8px
    font-size: 24px
    font-weight: 300
  p
    margin: 0
    color: #000
  .v-card__actions button
    font-weight: normal !important
    color: var(--v-darker-base) !important
  .v-responsive__content
    padding-left: 16px
    display: flex
    align-items: flex-end

.b-card.gradient h1
.b-card.gradient p
  color: white !important

.b-card.gradient
  h1, p, .v-card__actions button
    color: white !important