.h-100 {
  height: 100%;
}

.container.px-0 h1,
.container.px-0 .caption {
  padding-left: 12px;
}

.v-parallax__content {
  padding: 0 !important;
}

a {
  text-decoration: none;
}

.upper-content {
  top: -200px;
  position: relative;
  margin-bottom: -200px;
}

.v-chip,
.social-icon {
  margin-bottom: 8px;
  margin-right: 8px;
}

.centered-container,
.b-top-banner .v-parallax__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nuxt-content hr {
  margin-bottom: 14px;
  border-color: rgba(0, 0, 0, .12);
  border-width: thin 0 0
}

.nuxt-content img {
  max-width: min(100%, 400px);
  height: auto
}

@media screen and (min-width: 800px) {
  .nuxt-content img {
    max-width: 65%;
  }
}

table, tr, td, th {
  border: gray 1px solid;
}

th {
  background-color: lightgray;
}

table {
  border-collapse: collapse;
  margin-bottom: 16px;
}

tr, td, th {
  padding: 4px;
  font-size: 15px;
}
