.container.px-0 h1
.container.px-0 .caption
  padding-left: 12px

.v-parallax__content
  padding: 0 !important

a
  text-decoration: none

.upper-content
  top: -200px
  position: relative
  margin-bottom: -200px

.v-chip
.social-icon
  margin-bottom: 8px
  margin-right: 8px

.centered-container
.b-top-banner .v-parallax__content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
