.container.px-0 h1
.container.px-0 .caption
  padding-left: 12px

.v-parallax__content
  padding: 0 !important

a
  text-decoration: none

.upper-content
  top: -200px
  position: relative
  margin-bottom: -200px

.v-chip
  margin-bottom: 4px
  margin-right: 4px
