.container.px-0 h1
.container.px-0 .caption
  padding-left: 12px

.v-parallax__content
  padding: 0 !important

a
  text-decoration: none

#app
  background-color: #fafafa !important

.upper-content
  top: -200px
  position: relative
  margin-bottom: -200px

.round
  border-radius: 20px !important

.bordered
  border: 1px solid #e0e0e0
