.lecture-title
  font-family: 'Lora', serif
  color: var(--v-text-base)

.lecture-text
.markdown-body p
  font-family: 'Merriweather', serif
  font-size: 15px

.markdown-body
  h1, h2, h3, h4, h5, h6
    @extend .lecture-title
  code
    color: inherit
    box-shadow: none
  ol
    color: var(--v-text-base)
  pre
    background: var(--v-background-base) !important
    color: var(--v-text-base)