.lecture-title
  font-family: 'Lora', serif
  color: var(--v-text-base)
  line-height: 2.4rem !important
  &.display-3
    line-height: 4rem !important

.lecture-title-bloc
  font-family: 'Lora', serif
  color: var(--v-text-base)
  line-height: 1.9rem !important
  &.display-3
    line-height: 3.7rem !important

.markdown-body
  h1, h2, h3, h4, h5, h6
    @extend .lecture-title
  p
    text-align: justify
    font-family: 'Merriweather', serif
    font-size: 15px !important
  code
    color: #2a2b2d
    box-shadow: none
    display: block
    font-weight: normal
  ol, ul
    color: var(--v-text-base)
  pre
    background: var(--v-background-base) !important
    color: var(--v-text-base)

.lecture-text
  @extend .markdown-body p
  line-height: 1.5rem !important
