.lecture-title
  font-family: 'Lora', serif
  color: black

.lecture-text
.markdown-body p
  font-family: 'Merriweather', serif
  font-size: 15px

.markdown-body
  h1, h2, h3, h4, h5, h6
    @extend .lecture-title
  code
    color: inherit
    box-shadow: none