:root
  color-scheme: light dark

@css {
  .translucent, .blurred {
    background-color: rgba(var(--v-background-base), 0.4) !important;
  }
  .translucent {
    -webkit-backdrop-filter: saturate(50%) blur(30px);
    backdrop-filter: saturate(50%) blur(30px);
  }
  .blurred {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.v-application
.v-list
.background
  background: var(--v-background-base) !important
.v-sheet
.v-navigation-drawer
  background: var(--v-sheets-base)

.round
  border-radius: 20px !important
.bordered
  border: 1px solid #e0e0e0
